html {
    background-color: #FFF8E7;
    color:#004225;
    font-family: "Noto Serif", serif;
    animation: 0.5s clearin;
}
#name {
    font-family: "Noto Serif", serif;
    font-size: 40px;
}

.link{
    color: inherit;
}
#ipa{
    font-family: "Noto Serif", serif;
    font-size: 30px;
}
#time{
    font-family: "Noto Serif", serif;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lightgray;
}
#t{
    text-decoration: none;
    color: inherit;
}

@keyframes clearin {
    from {
        filter: blur(20px);
    }
    to {
        filter: blur(0);
    }
}